<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>

    <div class="toDoList">
      <input class="input" v-model="newList" v-on:keyup.enter="addTodo" placeholder="Mes Priorité">

         <ul class="list">
           <li v-for="(todo, index) in todos">
             {{ todo }}
             <button class="btnDel" type="button" v-on:click="delTodo(index)">X</button>
           </li>
         </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
