<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <script src="js/main.js"></script>

    <input 
            class="input" 
            v-model="newToDoText"
            v-on:keyup.enter="addNewToDo"
            placeholder="Mes Priorité"
            >
            <ul class="list">
              <li 
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.li"
                v-bind:text="todo.text"
                >
              </li>
            </ul>
    </script>
  </body>
</html>
